
services:
  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-12345}
      POSTGRES_DB: HolaGlobal
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    depends_on:
      - db
    build:
      context: ./holaglobal
      dockerfile: Dockerfile
    image: backend
    restart: unless-stopped
    container_name: backend
    ports:
      - "8080:8080"
    environment:
        DATASOURCE_URL: ${DATASOURCE_URL}
        DATASOURCE_USER: ${DATASOURCE_USER}
        DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
        FRONTEND_URL: ${FRONTEND_URL}
        JWT_SECRET: ${JWT_SECRET}


  frontend:
    build:
      context: ./holaglobal-frontend
      dockerfile: Dockerfile
    image: frontend
    restart: unless-stopped
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_BACKEND_URL: ${REACT_APP_BACKEND_URL}
    depends_on:
      - backend


volumes:
  postgres-data:

