services:
  frontend:
    build:
      context: ./holaglobal-frontend
    container_name: frontend
    networks:
      - tekno-network
    environment:
      - NEXT_PUBLIC_BACKEND_API_URL=https://konyaikamet.net/api
      - TZ=Europe/Istanbul
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  backend:
    build:
      context: ./holaglobal
    container_name: backend
    networks:
      - tekno-network
    environment:
      - DATASOURCE_URL=jdbc:postgresql://postgres:5432/HolaGlobal?sslmode=disable
      - DATASOURCE_USER=postgres
      - DATASOURCE_PASSWORD=12345
      - JWT_SECRET=0h1/gwTV3yq2t7O/lLZ+zEvdIRCIroPnLeIBSiTEeOk=
      - FRONTEND_URL=https://konyaikamet.net
      - TZ=Europe/Istanbul
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: postgres
    networks:
      - tekno-network
    environment:
      POSTGRES_DB: HolaGlobal
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      TZ: Europe/Istanbul
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - tekno-network
    depends_on:
      - frontend
      - backend

networks:
  tekno-network:
    driver: bridge

volumes:
  postgres_data:
